{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}

    <div class="container my-5">
        <h1 class="text-primary">{{ title }}</h1>
        <p>API Para manejar Profesores y Entrenadores</p>
    </div>
{% endblock %}
